<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [106]:
# import numpy as np
import pandas as pd

In [107]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [108]:
pd.options.display.float_format = '{:.3f}'.format

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [109]:
# Ваш код здесь
data.groupby(by="sex")["sex"].count()
# или так
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [110]:
# Ваш код здесь
women = (data["sex"] == "Female")
data[women]["age"].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [111]:
# Ваш код здесь
data["native-country"].value_counts(normalize=True)["Germany"]

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [128]:
# Ваш код здесь
func_list = ["mean", "std"]
data.groupby(by="salary")["age"].agg(func_list)

        mean   std
salary
<=50K  36.78 14.02
>50K   44.25 10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [126]:
# Ваш код здесь
salary_mask = data["salary"] == ">50K"

education_list = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
education_mask = data["education"].isin(education_list)

# Result below is the list of those, who have income more than 50K per year but haven't high education.
data[salary_mask * ~education_mask]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,married
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,Yes
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,Yes
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,Yes
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K,Yes
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K,Yes
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K,Yes
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K,Yes
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Yes
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Yes

Also we can count their quantity

In [127]:
data[salary_mask * ~education_mask]["education"].count()

3306

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [114]:
# Ваш код здесь
data.groupby(["race", "sex"])["age"].describe()

                              count   mean    std    min    25%    50%    75%  \
race               sex
Amer-Indian-Eskimo Female   119.000 37.118 13.115 17.000 27.000 36.000 46.000
                   Male     192.000 37.208 12.050 17.000 28.000 35.000 45.000
Asian-Pac-Islander Female   346.000 35.090 12.301 17.000 25.000 33.000 43.750
                   Male     693.000 39.074 12.884 18.000 29.000 37.000 46.000
Black              Female  1555.000 37.854 12.637 17.000 28.000 37.000 46.000
                   Male    1569.000 37.683 12.883 17.000 27.000 36.000 46.000
Other              Female   109.000 31.679 11.632 17.000 23.000 29.000 39.000
                   Male     162.000 34.654 11.356 17.000 26.000 32.000 42.000
White              Female  8642.000 36.812 14.329 17.000 25.000 35.000 46.000
                   Male   19174.000 39.652 13.436 17.000 29.000 38.000 49.000

                             max
race               sex
Amer-Indian-Eskimo Female 80.000
                   Male   82.000
Asian-Pac-Islander Female 75.000
                   Male   90.000
Black              Female 90.000
                   Male   90.000
Other              Female 74.000
                   Male   77.000
White              Female 90.000
                   Male   90.000

We can see that the oldest Amer-Indian-Eskimo man is 82 YO.
We also can get this value with next:

In [115]:
race_mask = data["race"] == "Amer-Indian-Eskimo"
sex_mask = data["sex"] == "Male"
data[race_mask & sex_mask]["age"].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [121]:
# Ваш код здесь

# add new column with flag Married (Yes) or not_Married (No)
data["married"] = data["marital-status"].str.startswith("Married")
convert_dict = {False: "No", True: "Yes"}
data = data.replace({"married": convert_dict})
# or
# data["married"] = data["married"].map(convert_dict)

men_mask = data["sex"] == "Male"

pd.options.display.float_format = '{:.2f}'.format
data[men_mask].groupby(by="married")["salary"].value_counts(normalize=True)

married  salary
No       <=50K    0.92
         >50K     0.08
Yes      <=50K    0.56
         >50K     0.44
Name: proportion, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [131]:
# Ваш код здесь
max_hours_per_week = data["hours-per-week"].max()
max_hours_per_week

99

In [140]:
max_working_people = data[data["hours-per-week"] == max_hours_per_week]
len(max_working_people)  # quantity those, who work max

85

In [146]:
pd.options.display.float_format = '{:.2%}'.format

max_working_people["salary"].value_counts(normalize=True)

salary
<=50K   70.59%
>50K    29.41%
Name: proportion, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [155]:
# Ваш код здесь
pd.options.display.float_format = '{:.2f}'.format

data.groupby(["native-country", "salary"])["hours-per-week"].mean()

native-country  salary
?               <=50K    40.16
                >50K     45.55
Cambodia        <=50K    41.42
                >50K     40.00
Canada          <=50K    37.91
                          ...
United-States   >50K     45.51
Vietnam         <=50K    37.19
                >50K     39.20
Yugoslavia      <=50K    41.60
                >50K     49.50
Name: hours-per-week, Length: 82, dtype: float64